@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
}

.groceries {
    border: 1px solid black;
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: white;
    box-shadow: 10px 10px 24px 0px rgba (0, 0, 0, 0.5);
}

.groceries h1 {
    font-size: 1.5rem;
    margin-top: 1em;
}

#clear {
    margin-right: 10px;
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.groceries input {
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allItems h2 {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}

@media (max-width: 480px) {
    .groceries h1 {
        font-size: 2rem;
    }

    .groceries i {
        font-size: 1.5rem;
    }

    .groceries input {
        font-size: 1rem;
    }

    #allItems h2 {
        margin-left: 25px;
        font-size: 1.5rem;
    }
}